

<form action="/search" method="post" class="form-inline home-search">
  <p><strong>Instructions:</strong> Find a beer you already enjoy drinking and Ninkasi will provide beer suggestions for you to explore.</p>
  <div class="form-group">
    <input type="text" name="beerName" class="form-control" value="" placeholder="enter a beer's name"/>
  </div>
  <button type="submit" class="btn btn-warning">Submit</button>
</form>

<p style="color: #AAA;"><em>(the search uses a regex so partial names are fine too)</em></p>

